@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
    /* font-family: Arial, sans-serif; */
    font-family: "Poppins", serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .navbar{
    height: 50px;

  }
  .navbar img{
    height: 50px;
  }

  .invoice-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .invoice-header {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 20px;
  }
  
  .order-summary {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
  }
  
  .card p, .card table {
    font-size: 14px;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .order-table th, .order-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
  }
  
  .order-table th {
    background-color: #f1f1f1;
  }
  
  #download-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }