:root {
  /* BRAND */
  --primary: #028c7e;
  --primary-dark: #017463;
  --success: #059669;

  /* TEXT */
  --text-primary: #111827;
  --text-secondary: #6b7280;

  /* BACKGROUND */
  --background: #ffffff;
  --background-alt: #f9fafb;

  /* UI */
  --border: #e5e7eb;
  --card-bg: #ffffff;

  /* FOOTER */
  --footer-background: #111827;
  --footer-text: #f9fafb;
}

/* DARK MODE */
:root.dark {
  --primary: #0ddac0;
  --primary-dark: #0bb39b;
  --success: #10b981;

  --text-primary: #f3f4f6;
  --text-secondary: #9ca3af;

  --background: #0b1220;
  --background-alt: #111827;

  --border: #1f2937;
  --card-bg: #111827;

  --footer-background: #020617;
  --footer-text: #e5e7eb;
}