name: Deploy Application

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 147.93.105.151
          username: mclanduser
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd apps/Webiste_Land
            git pull origin main
            pm2 restart website_land
